.renderCrew{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: changeBackground 10s infinite;
}
.crew-container{
    display: flex;
    flex-direction: column;
}
.crew{
    display: flex;
    margin: auto;
    width: 230px;
    margin: 1em;   
    
}
.crew-info{
    display: flex;
    flex-direction: column;
    background-color: #A2999E;  
    border-radius: 0px 0px 10px 10px;
}
.crew-image{
   width: 225px; 
   height: 200px;
   border-radius: 10px 10px 0px 0px 

}
i{
    color: white;
    margin-right: 4px;
}
@keyframes changeBackground{
    0%{
        background: url("../../img/img1.png");
    }
    10%{
        background: url("../../img/img2.png");
    }
    15%{
        background: url("../../img/img3.png");
    }
    20%{
        background: url("../../img/img1.png");
    }
    30%{
        background: url("../../img/img2.png");
    }
    35%{
        background: url("../../img/img3.png");
    }
    40%{
        background: url("../../img/img1.png");
    }
    50%{
        background: url("../../img/img2.png");
    }
    55%{
        background: url("../../img/img3.png");
    }
    60%{
        background: url("../../img/img1.png");
    }
    70%{
        background: url("../../img/img2.png");
    }
    85%{
        background: url("../../img/img3.png");
    }
    90%{
        background: url("../../img/img1.png");
    }
    95%{
        background: url("../../img/img2.png");
    }
    100%{
        background: url("../../img/img3.png");
    }
}
.modal{
    display: flex;
    background-color: white;
    border-radius: 5px; 
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}