.asteroid{
    display: flex;
    background-color: #C6C7C4;
    margin: 1em;
    margin-left: 150px;
    width: 300px;
    /* box-shadow: black 3px 6px; */
    border: solid 3px white;
    border-radius: 5px;
    
}
.asteroid p{
    font-size: 15px;
}

@media (max-width: 420px){

    .asteroid{
        margin: auto;
    }
}